<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Reactive Formulaire</h1>
        <p class="lead">Chaque element de notre formulaire est un « FormGroup » </p>
        <p class="lead">Chaque « formGroup » peut contenir 1 ou plusieurs « FormControl » </p>
        <p class="lead">Chaque « FormControl » contient une valeur par défaut et un system de validation. </p>
</div>
<form action="POST" (ngSubmit)="register()" [formGroup]="userForm">
    <div class="form-group">
        <label for="id">Login:</label>
        <input class="form-control" type="text" placeholder="Enter Login" name=login formControlName="login">
    </div>
    <div *ngIf="userForm.controls['login'].invalid && (userForm.controls['login'].dirty || userForm.controls['login'].touched)"
        class="alert alert-danger">
        <div *ngIf="userForm.controls['login'].errors?.required">
            Le login est obligatoire
        </div>
        <div *ngIf="userForm.controls['login'].errors?.erreur">
        Premiere lettre en majuscule            
        </div>
    </div>
        <div class="form-group">
            <label for="id">Password:</label>
            <input class="form-control" type="password" placeholder="Enter Password" name=password formControlName="password">
        </div>
        <div *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)"
                    class="alert alert-danger">
            <div *ngIf="userForm.controls['password'].errors?.required">
                Le password est obligatoire
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
<div class="container" style="margin-top: 15px;">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let element of users">
            <span>{{element.login}}</span>
            <button type="submit" class="btn btn-danger" (click)="delete(element)">
                supprimer
            </button>
        </li>
    </ul>
</div>
<br>
<br>
<br>

<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nom</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Prenom</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Entreprise</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Telephone</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Email</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">Date de Début</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Eligible CPF (Oui ou Non)</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Nombre d'inscrits</label>
      <input type="text" class="form-control" id="inputNbr">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>


